@font-face{
    font-family:"PMNCaeciliaW01-45Light";
    src:url("./assets/css/fonts/3097ee5d-c6ed-4941-9255-50eca8b30bd8.eot?#iefix");
    src:url("./assets/css/fonts/3097ee5d-c6ed-4941-9255-50eca8b30bd8.eot?#iefix") format("eot"),
    url("./assets/css/fonts/e0a1ed27-ed1d-4764-8e88-b9e16092a508.woff2") format("woff2"),
    url("./assets/css/fonts/dc28a9c2-3c69-451a-98e3-6dcdae1343d8.woff") format("woff"),
    url("./assets/css/fonts/a2885a75-2fe7-425f-a2cb-7f24f10d47b1.ttf") format("truetype"),
    url("./assets/css/fonts/ec258d3d-dfc5-4901-b2c4-47a827761655.svg#ec258d3d-dfc5-4901-b2c4-47a827761655") format("svg");
    }
    @font-face{
    font-family:"PMNCaeciliaW01-55Roman";
    src:url("./assets/css/fonts/e9938f19-f9be-4b47-9f5a-c3441c7b84a2.eot?#iefix");
    src:url("./assets/css/fonts/e9938f19-f9be-4b47-9f5a-c3441c7b84a2.eot?#iefix") format("eot"),
    url("./assets/css/fonts/696b2228-7827-482f-b975-5618266d0c9b.woff2") format("woff2"),
    url("./assets/css/fonts/57d0d8b3-dd92-4639-bc73-f54734f54f3d.woff") format("woff"),
    url("./assets/css/fonts/e8f97b23-e117-4d0a-abc8-4a6112d9794f.ttf") format("truetype"),
    url("./assets/css/fonts/f97046a6-1405-40e5-80e8-282eccce10b8.svg#f97046a6-1405-40e5-80e8-282eccce10b8") format("svg");
    }
    @font-face{
    font-family:"PMNCaeciliaW01-56Italic";
    src:url("./assets/css/fonts/e4a0d124-7896-4516-b491-702a48f3f108.eot?#iefix");
    src:url("./assets/css/fonts/e4a0d124-7896-4516-b491-702a48f3f108.eot?#iefix") format("eot"),
    url("./assets/css/fonts/b1052249-2de2-49a1-ae9f-4ee5bdd86342.woff2") format("woff2"),
    url("./assets/css/fonts/ad85bbe3-d582-4957-a027-b661a25cae9b.woff") format("woff"),
    url("./assets/css/fonts/a201afdb-af4c-461f-b900-3c726e76bd6e.ttf") format("truetype"),
    url("./assets/css/fonts/342b8bce-b73d-48ee-8715-8ce275e4830e.svg#342b8bce-b73d-48ee-8715-8ce275e4830e") format("svg");
    }
    @font-face{
    font-family:"PMNCaeciliaW01-75Bold";
    src:url("./assets/css/fonts/9bd4aa31-b713-46ea-98be-4ee7144485d3.eot?#iefix");
    src:url("./assets/css/fonts/9bd4aa31-b713-46ea-98be-4ee7144485d3.eot?#iefix") format("eot"),
    url("./assets/css/fonts/4a758111-db21-4bd4-900b-b7703250115f.woff2") format("woff2"),
    url("./assets/css/fonts/c8018977-bfbd-4a76-a48d-fa0be4da75ef.woff") format("woff"),
    url("./assets/css/fonts/1f750230-9c70-43f4-ae5c-e8d00c419fda.ttf") format("truetype"),
    url("./assets/css/fonts/0006ae28-8833-490d-82c5-b4f373a137c5.svg#0006ae28-8833-490d-82c5-b4f373a137c5") format("svg");
    }
    @font-face{
    font-family:"PMNCaeciliaW01-85Heavy";
    src:url("./assets/css/fonts/b18c2183-94c9-43d7-8bd7-4e030cf7749b.eot?#iefix");
    src:url("./assets/css/fonts/b18c2183-94c9-43d7-8bd7-4e030cf7749b.eot?#iefix") format("eot"),
    url("./assets/css/fonts/b660c7a3-8700-45a7-b5bc-711ebde3049a.woff2") format("woff2"),
    url("./assets/css/fonts/b644e35b-6214-4f76-ad61-4d66c2fa99a9.woff") format("woff"),
    url("./assets/css/fonts/c9cabe33-9d11-4955-8794-4ca2b540eaad.ttf") format("truetype"),
    url("./assets/css/fonts/e7a29f78-41d4-4ecc-8cab-2fa675292349.svg#e7a29f78-41d4-4ecc-8cab-2fa675292349") format("svg");
    }
    

