
/* ------------------------------------------------------------------ */
.cell-top {
    fill: black;
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

.cell-topRight {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 125ms;
}

.cell-right {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 250ms;
}

.cell-bottomRight {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 375ms;
}

.cell-bottom {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 500ms;
}


.cell-bottomLeft {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 625ms;
}

.cell-left {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 750ms;
}



.cell-topLeft {
    animation: svg-fill;
    animation-duration: 0.5s;
    animation-delay: 875ms;
}

@keyframes svg-fill {
    from {
        fill: rgb(30, 93, 148);
    }

    to {
        fill: rgb(77, 127, 171);
    }
}


/* --- animate the strikings --- */

polyline {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 5s linear normal 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 200;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

/*---------------- Playing animation ---------------------*/
 
  .playing {
    position: absolute;
    top: 0px;
    left: 43%;
  }

  .playing:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }